body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('github.png');
  background-size: 300px 1700px;
    background-repeat: no-repeat,no-repeat;
  background-position-x:left;
  background-position-y: top;
  background-color:black;
 
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}















/*.BallBoard{
  height:600px;
  width: 750px;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
background-image: url('./fb_background.png');
background-repeat: no-repeat,no-repeat;
background-size: 600px 600px;
background-position: 100%;
background-color: transparent;
border: 1px solid grey;
top:170px;
left:500px;
}*/


/*.Ballrow{
  height:22px;
  width: 750px;
  position: relative;
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}*/
.Mat{
height:20px;
width:15px;
position: relative;
display: inline-block;
border-collapse: collapse;
border-spacing: 0;
padding:0;
}



















.heading{
  background-image: url('./game.png');
  background-repeat: no-repeat,no-repeat;
  background-size: 2000px;
  background-position: 100%;
  position: relative;
  height: 200px;
  width:1650px;
  font-size: 150px;
  color:aliceblue
}





/* sudoku*/
.Sudoku{
  color:black;
  border-radius: 3px;
  left:600px;
  top:200px;
  width:500px;
  background-color:transparent;
  position: relative;
  height:600px;
}
.row{
  color:black;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}
.def{
  border: 2px solid wheat;
  border-radius: 5px;
  padding:3px;
  color:rgb(218, 202, 175);
  font-weight: bolder;
  position: relative;
  width:45px;
  height:45px;
  display: inline-block;
  text-align: center;
}
.Input{
  border: 2px solid rgb(246, 243, 238);
  border-radius: 5px;
  color:white;
  font-weight: bolder;
  position: relative;
  width:48px;
  height:50px;
  top:15px;
  display: inline-block;
  text-align: center;
  font-size: medium;
  background-color: transparent;
}
.startButton{
  border: 2px solid black;
  border-radius: 5px;
  padding:3px;
  color:black;
  position: relative;
  width:400px;
  height:100px;
  display: inline-block;
  text-align: center;
  left:700px;
  top:300px;
  font-size: 40px;
}
.ansButton{
  position: absolute;
  width:100px;
  height:40px;
  left:1300px;
  bottom:100px;
  background-color: transparent;
  color:wheat
}
.verifyButton{
  position: absolute;
color:wheat;
   background-color: transparent;
  left:1300px;
  width:100px;
  height:40px;
  bottom:200px;
}







/*.Tictac{
  position: relative;
  top:100px;
  left:600px;
  height:400px;
  width:400px;
  display: inline-block;
  
}
.ticrow{
  position: relative;
  display: inline-block;
  height:130px;
  width: 380px;
  font-size: 30px;
  border: 3px solid wheat;
  overflow: auto;
}*/
/*.Ticelement{
  position: relative;
  display: inline-flex;
  height:125px;
  width:120px;
  border:2px solid wheat;
  text-align: top;
  font-size: 100px;
  font-variant-position: normal;
  color:aliceblue;
}*/




.logo{
  float: left;
  background-image: url('game_logo.png');
  background-repeat: no-repeat,no-repeat;
  background-position-x:center;
  background-position-y: top;
  background-size: 50px 50px;
  bottom:800px;
  height: 50px;
  width:50px;
  position: absolute;
}


hr1{
  width:1700px;
  height: 0.01cm;
  background-color: rgb(61, 61, 74);
  color:darkblue;
  cursor: pointer;
  bottom:650px;
}
