body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('github.png');
  background-size: 300px 1700px;
    background-repeat: no-repeat,no-repeat;
  background-position-x:left;
  background-position-y: top;
  background-color: black;
 
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Heading{

    width:1000px;
    position: relative;

}
hr{
  width:1700px;
  height: 0.01cm;
  background-color: rgb(61, 61, 74);
  color:darkblue;
  cursor: pointer;
}
.glogo{
  float: left;
  background-image: url('game_logo.png');
  background-repeat: no-repeat,no-repeat;
  background-position-x:center;
  background-position-y: top;
  background-size: 50px 50px;
  position: relative;
  height:50px;
  width:50px;
}
.gheading{
  display: inline-block;
  color:white;
  top:15px;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Board{
  
  top:210px;
  width:900px;
  position: relative;
  left:400px;
  height:600px;
  overflow: auto;
  border: 1px solid rgb(72, 71, 71);
}
.Element{
  position: relative;
  float: left;
  height:18px;
  width:16px;
  background-color:black;
border:1px solid black;
border-radius: 6px;
}

.Pause{
  font-size: 40px;
  height:130px;
  width:200px;
  position: relative;
  background-color: beige;
  top:80px;
  float: left;
  left:30px;
}

.Row{
  position: relative;
  width:700px;
  display: inline;
}
.row{
  position: relative;
  height:60px;
  width:100%;
}
.score{
  color: aliceblue;
  position: relative;
  height: 30px;
  width: 30px;
  left:1500px;
  bottom: 550px;
  font-size: 30px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}















.BallBoard{
  height:600px;
  width: 750px;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
background-image: url('./fb_background.png');
background-repeat: no-repeat,no-repeat;
background-size: 600px 600px;
background-position: 100%;
background-color: transparent;
border: 1px solid grey;
top:170px;
left:500px;
}


.Ballrow{
  height:22px;
  width: 750px;
  position: relative;
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.Mat{
height:20px;
width:15px;
position: relative;
display: inline-block;
border-collapse: collapse;
border-spacing: 0;
padding:0;
}
.brick{
  height:20px;
width:15px;
position: relative;
}



















.heading{
  background-image: url('./game.png');
  background-repeat: no-repeat,no-repeat;
  background-size: 2000px;
  background-position: 100%;
  position: relative;
  height: 200px;
  width:1650px;
  font-size: 150px;
  color:aliceblue
}







.Flappybird{
  height:250px;
 width:250px;
position: relative;
  left:800px;
  top:100px;
  background-image: url('flappybird_back.png');
  background-size: 300px 300px;
  background-repeat: no-repeat,no-repeat;
  background-position-x:center;
  background-position-y:center ;
  box-shadow: 10px 10px 5px 12px ;


}
.Classicsnake{
  height:250px;
  width:250px;
 position: relative;
 left:400px;
 bottom:150px;
 
  background-image: url('snake_game.png');
  background-size: 250px 250px;
  background-repeat :no-repeat,no-repeat;
  background-position-x:center;
  background-position-y:center;
  box-shadow: 15px 15px 10px 15px ;

}
.tictac_board{
  height:250px;
  width:250px;
  bottom: 300px;
left:400px;
 position: relative;
  background-image: url('tictacbg.png');
  background-size: 400px 250px;
  background-repeat: no-repeat,no-repeat;
  background-position-x: center;
  background-position-y:center ;
  box-shadow: 10px 10px 5px 12px ;

}
.sudokuboard{
  height:250px;
  width:250px;
  bottom:50px;
left:800px;
 position: relative;
  background-image: url('sudoku.png');
  background-size: 250px 250px;
  background-repeat: no-repeat,no-repeat;
  background-position-x: center;
  background-position-y:center ;
  box-shadow: 10px 10px 5px 12px ;
}





/* sudoku*/
.Sudoku{
  color:black;
  border-radius: 3px;
  left:600px;
  top:200px;
  width:500px;
  background-color:transparent;
  position: relative;
  height:600px;
}
.row{
  color:black;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}
.def{
  border: 2px solid wheat;
  border-radius: 5px;
  padding:3px;
  color:rgb(218, 202, 175);
  font-weight: bolder;
  position: relative;
  width:45px;
  height:45px;
  display: inline-block;
  text-align: center;
}
.Input{
  border: 2px solid rgb(246, 243, 238);
  border-radius: 5px;
  color:white;
  font-weight: bolder;
  position: relative;
  width:48px;
  height:50px;
  top:15px;
  display: inline-block;
  text-align: center;
  font-size: medium;
  background-color: transparent;
}
.startButton{
  border: 2px solid black;
  border-radius: 5px;
  padding:3px;
  color:black;
  position: relative;
  width:400px;
  height:100px;
  display: inline-block;
  text-align: center;
  left:700px;
  top:300px;
  font-size: 40px;
}
.ansButton{
  position: relative;
  
  width:200px;
  height:40px;
  bottom:480px;
}
.verifyButton{
  position: relative;
  
   top:200px;

  width:200px;
  height:40px;
}







.Tictac{
  position: relative;
  top:100px;
  left:600px;
  height:400px;
  width:400px;
  display: inline-block;
  
}
.ticrow{
  position: relative;
  display: inline-block;
  height:130px;
  width: 380px;
  font-size: 30px;
  border: 3px solid wheat;
  overflow: auto;
}
.Ticelement{
  position: relative;
  display: inline-flex;
  height:125px;
  width:115px;
  border:2px solid wheat;
  text-align: top;
  font-size: 100px;
  font-variant-position: normal;
  color:aliceblue;
}




.logo{
  float: left;
  background-image: url('game_logo.png');
  background-repeat: no-repeat,no-repeat;
  background-position-x:center;
  background-position-y: top;
  background-size: 50px 50px;
  bottom:800px;
  height: 50px;
  width:50px;
  position: absolute;
}


hr1{
  width:1700px;
  height: 0.01cm;
  background-color: rgb(61, 61, 74);
  color:darkblue;
  cursor: pointer;
  bottom:650px;
}